body {
  background-color: #2e2e2e;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: auto;
  box-shadow: 0px 0px 2px 0px rgba(62, 62, 62, 0.75);
}

#logo {
  color: white;
}

.button {
  display: flex;
  background-color: rgb(237, 237, 237);
  color: black;
  padding: 14px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 20px;
  float: right;
}
.button img {
  width: 20px;
  height: 20px;
}

#start {
  transition: 0.1s;
  width: 100px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 0.1px solid black;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
#start:hover {
  transform: scale(1.1);

  color: rgb(0, 0, 0);
}
#start:active {
  transform: scale(0.9);
  background-color: #c8c8c8;
  color: rgb(0, 0, 0);
}
#color {
  width: 100%;
  height: 300px;
}

.guesses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 140px;
}
.guess {
  display: flex;
  border: 0.1px #2e2e2e solid;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 120px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(62, 62, 62);
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.guess:hover {
  transform: scale(1.1);
  background-color: #fbfbfb;
  color: rgb(0, 0, 0);
}

.guess:active {
  transform: scale(0.9);
  background-color: #e6e6e6;
  color: rgb(0, 0, 0);
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-container {
  position: relative;
  text-align: center;
}

#question {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-shadow: #2e2e2e 0px 0px 10px;
}

#result {
  font-size: 30px;
  color: white;
  margin-top: 10rem;
  text-shadow: #2e2e2e 0px 0px 10px;
  position: absolute;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.horizontal-shaking {
  animation: horizontal-shaking 0.25s;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  color: #ffffff;
  padding: 20, 0;
  height: 70px;
  text-align: centers;
}

.component {
  display: flex;
  height: 100%;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3a;
  font-size: 20px;
  flex-direction: row;
}

#game-over {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

#first-question {
  display: flex;
  color: white;
  font-size: 40px;
}

.first-questions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
#logo-photo {
  width: 50px;
  height: 50px;
  margin-left: 60px;
}
